/* CSS declarations go here */
body{
  background-color: #212121; 
}
.outerDiv{
  font-family: 'Special Elite', cursive;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 100px;
  border-radius: 3px;
}

.innerDiv{
  color: #c0392b;
  text-align: center;

}


.innerDiv h2{
  font-family: 'Share Tech Mono', serif;
}
